<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <p>First Name: x</p>
	<p>Last Name: y</p>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

<div>
<table style="width:100%">
  <table class="table table-dark table-striped">
  <tr>
    <th>ชื่อ</th>
    <th>นามสกุล</th>
    <th>ที่อยู่</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>11120</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>11120</td>
  </tr>
</table>
</div>
<div>

</div>

<h2>TU Forms</h2>

<form action="/api">
  <label for="fname">User name:</label><br>
  <input type="user" id="user" name="user" value="thanachot"><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd" value="1234"><br><br>
  <input type="submit" value="Ok">
   <input type="reset" value="Cancel">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/api".</p>

</body>
</html>