<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- frontEng -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
  <div class="login-box">
    <!-- <img
    src="https://cdn.discordapp.com/attachments/702881122211856424/780388651405672488/1200px-Emblem_of_Thammasat_University.svg.png"
    alt="alternatetext" style="width:190px;height:190px;margin: 70px 50px 0px 775px;"> -->
    <div class="login-item">
      <img class="login-img"
        src="https://cdn.discordapp.com/attachments/702881122211856424/780388651405672488/1200px-Emblem_of_Thammasat_University.svg.png"
        >
    </div>
    <div class="login-item">
      <h2 style="text-align: center"><b>REQUEST FORM</b></h2>
    </div>
    <div class="login-item">
      <form action="/login" method="POST">
        <div class="login text-center">
          <h1><b>LOGIN</b></h1>
          <div class="usernamepwd"></div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"> <img
                  src="https://cdn3.iconfinder.com/data/icons/testingelite1/32/account-512.png" style="width: 20px;">
              </span>
            </div>
            <input name="username" id="username" class="form-control" type="text" placeholder="Username">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"> <img
                  src="https://icons-for-free.com/iconfiles/png/512/lock+password+protect+safety+security+icon-1320086045132546966.png"
                  style="width: 20px;"> </span>
            </div>
            <input name="password" id="password" class="form-control" type="password" placeholder="Password">
          </div>

          <!-- <div class="input">
              <input name="username" id="username" class="form-control" type="text" placeholder="Username">
          </div>
          <div class="input">
              <input name="password" id="password" class="form-control" type="password" placeholder="Password">
          </div> -->
          <button class="btn btn-primary btn-block" type="submit" style="margin-top: 30px;">Submit</button>
        </div>
      </form>
    </div>



  </div>

</body>

</html>

<style>
  body {
    background: url(https://cdn.discordapp.com/attachments/702881122211856424/780373548085805087/log.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    color: #ffffff;
    text-shadow: 2px 2px rgba(207, 0, 0, 0.911);
    margin-top: -10px;
  }

  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .login-box {
    display: block;
  }
  .login-box img {
   margin: 0 auto;
  }
  .login-img {
    max-width: 190px;
    margin: 0 auto;
  }
  .login-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>