<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
  <form action="/home">
    <div class="login text-center">
        <h1><b>LOGIN</b></h1>
        <div class="usernamepwd"></div>
        <div class="input">
            <input name="username" id="username" class="form-control" type="text" placeholder="Username">
        </div>
        <div class="input">
            <input name="password" id="password" class="form-control" type="password" placeholder="Password">
        </div>
        <button class="btn btn-primary btn-block" type="submit" style="margin-top: 30px;">Submit</button>
    </div>
</form>
</body>
</html>

<style>
body {
  background: url(https://wallpaperaccess.com/full/21613.jpg);
  background-position : center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>